body {
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

img[data-src] {
    filter: blur(0.5em);
}

img {
    display: block;
    background-color: #3fbe45;
    margin: 0 auto;
    margin-bottom: 20px;
    border: thin solid rgb(0,0,0,0.3);
    width: 300px;
    height: 400px;
}

img {
    filter: blur(0em);
    transition: filter 1s;
}