figure {
    margin: 0;
}

h1 {
    border-bottom: thin solid rgba(0, 0, 0, 0.3);
    line-height: 50px;
    text-align: center;
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
}

.weather {
    background-image: url("../images/background-higher-opacity.png");
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    border: thin solid rgba(0, 0, 0, 0.3);
    width: 30%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    background-size: 700px auto;
    background-position: center;
    padding-bottom: 20px;
    margin: 0 auto;
}

.weather-card {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    background-color: rgba(42, 212, 70, 0.1);
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    border: thin solid rgba(0, 0, 0, 0.3);
    margin-top: 10px;
}

figcaption {
    padding-bottom: 10px;
}