@media only screen and (min-width: 35rem) {
    .join_here {
        display: block;
        grid-row: 4/4;
        grid-column: 1 / span 3;
    }

    .right-column {
        display: flex;
        grid-row: 3/3;
        grid-column: 1 / span 3;
    }

    .right-column div {
        width: 50%;
        margin: 10px;
        height: 92%;
    }

    .right-column p {
        margin: auto;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }

    .featured {
        grid-row: 1/1;
        grid-column: 1/ span 3;
    }

    .news-update {
        grid-row: 2/2;
        grid-column: 1 / span 3;
    }

    .event {
        grid-column: 1 / span 2;
    }

    .footer_info_medium {
        display: block;
        padding-top: 15px;
    }

    .footer_info_medium p {
        margin-top: 5px;
    }

    .footer_info_small {
        display: none;
    }

    .main_footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .footer_logo {
        display: flex;
    }

    .address {
        padding-top: 10px;
        margin: auto;
    }

    .address p, h2 {
        display: flex;
    }

    .address h2 {
        text-align: left;
    }

    .contact_footer {
        margin-right: 20px;
    }

    .address p {
        text-align: left;
    }
}