@media only screen and (min-width: 35rem) {
    .join_here {
        display: block;
        grid-row: 4/4;
        grid-column: 1 / span 3;
    }

    .right-column {
        display: flex;
        grid-row: 3/3;
        grid-column: 1 / span 3;
    }

    .right-column div {
        width: 50%;
        margin: 10px;
        height: 92%;
    }

    .right-column p {
        margin: auto;
    }

    .featured {
        grid-row: 1/1;
        grid-column: 1/ span 3;
    }

    .news-update {
        grid-row: 2/2;
        grid-column: 1 / span 3;
    }

    .event {
        grid-column: 1 / span 2;
    }

    .footer_info_medium {
        display: block;
        padding-top: 15px;
    }

    .footer_info_medium p {
        margin-top: 5px;
    }

    .footer_info_small {
        display: none;
    }

    .main_footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .footer_logo {
        display: flex;
    }

    .address {
        padding-top: 10px;
        margin: auto;
    }

    .address p {
        display: flex;
    }

    .address h2 {
        display: flex;
    }

    .address h2 {
        text-align: left;
    }

    .contact_footer {
        margin-right: 20px;
    }

    .address p {
        text-align: left;
    }

    .news-update h1 {
        margin-top: 60px;
    }

    .join_here button {
        margin-top: 60px;
    }

    .weather h2 {
        top: 180px;
    }

    .featured {
        height: 300px;
    }

    .discover-main, .first-image, .second-image, .third-image, .fourth-image, .fifth-image {
        display: block;
        padding: 10px;
    }
    
    .discover-main img {
        width: 100%;
    }

    .discover-main img:hover {
        opacity: .5;
    }
}