@media only screen and (min-width: 35rem) {
    .join_here {
        display: flex;
    }

    .right-column {
        display: flex;
    }

    .right-column div {
        width: 50%;
        margin: 10px;
        height: 90%;
    }

}