@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

header {
    background-color: #1c3eb0;
    padding-bottom: 20px;
}

.main_header {
    display: grid;
    grid-template-columns: 4fr .5fr .5fr;
    grid-gap: 1px;
    padding-left: 5px;
    padding-right: 5px;
}

h1, h2 {
    font-family: 'Rubik', sans-serif;
    color: white;
}

p, nav {
    font-family: 'Nunito', sans-serif;
}

#logo {
    display: flex;
    margin: auto;
    margin-left: 15px;
}

#logo img {
    display: block;
    max-width:180px;
    max-height:95px;
    width: auto;
    height: auto;
}

#logo h1{
    font-size: 16px;
    margin-top: 15px;
}

#logo h2 {
    font-size: 13.5px;
    margin-top: -10px;
}

#logo div {
    margin-top: 20px;
}

nav {
    background-color: transparent;
    font-size: 15px;

}

#date_today {
    background-color: rgba(0,0,0,0.3);
    padding: 2px;
    font-family: 'Nunito', sans-serif;
    color: white;
    border: solid rgba(255,255,255,0.5);
    border-width: thin;
    text-align: center;
    font-size: 12px;
    width: 95%;
    margin: auto;
}

#social_media {
    display: flex;
    margin: 0;
    padding: 15px;
    margin-top: 30px;
}

#social_media img {
    width: 30px;
    height: 30px;
    margin-left: 8px;
}

nav button {
    background-color: transparent;
    border: 1px solid white;
    font-size: 1.4rem;
    color: #eee;
    margin-top: 45px;
    margin-left: -4px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: white;
    border-top: thin solid rgba(255,255,255,0.1);
}

.contact {
    border-bottom: thin solid rgba(255,255,255,0.1);
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}

nav ul li.join a {
    background-color: rgba(0,0,0,0.3);
    color: #fff;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

#hamburger-button span:nth-child(1) {
    display: block;
}

#hamburger-button span:nth-child(2) {
    display: none;
}

#hamburger-button.open span:nth-child(1) {
    display: none;
}

#hamburger-button.open span:nth-child(2) {
    display: block;
}

.index-main {
    display: block;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
}

.index-main .event, .join_here, .weather, .news-update {
    border: 1px solid rgba(0,0,0,0.3);
    padding: 10px;
    margin: 10px;
}

.featured {
    border: 1px solid rgba(0,0,0,0.3);
    margin: 10px;
}

.right-column div {
    padding: 10px;
    height: 50%;
}

.spotlight3, .join_here {
    display: none;
}

footer {
    background-color: #1c3eb0;
}

footer img {
    display: block;
    margin: auto;
    width: 170px;
}

footer h2 {
    text-align: center;
    margin-top: -15px;
    font-size: 20px;
}

footer p, a {
    font-family: 'Nunito', sans-serif;
    color: white;
    text-align: center;
    text-decoration: none;
}

.address p {
    margin-top: -8px;
    margin-bottom: 12px;;
}

.location_map {
    display: flex;
    color: white;
    margin: auto;

}

.map_container{
    display: flex;
}

.location_map img{
    width: 40px;
}

.footer_info_small {
    margin: auto;
    width: 95%;
    color: white;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 90%;
    padding: 10px;
    border-top: thin solid rgba(255,255,255,0.3);
}

.footer_info_small p, h3 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.footer_info_medium {
    display: none;
    margin: auto;
    width: 95%;
    color: white;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 90%;
    padding: 10px;
    border-top: thin solid rgba(255,255,255,0.3);
}

.footer_info_large {
    display: none;
    margin: auto;
    width: 95%;
    color: white;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 90%;
    padding: 10px;
    border-top: thin solid rgba(255,255,255,0.3);
}

#announcement {
    color: yellow;
}

/*.featured {
    background-image: url('https://raw.githubusercontent.com/eskeme/wdd230/main/chamber/images/barangay-hall.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1c3eb0;
    position: relative;
    min-height: 150px;
} */

.featured {
    position: relative;
}

.featured h1 {
    position: absolute;
    padding: 0;
    font-size: 24px;
    top: 10px;
    left: 10px;
}

.featured button {
    cursor: pointer;
}

.join_here button {
    cursor: pointer;
}

.featured img {
    object-fit:cover;
    width: 100%;
    height: 100%;
}

h1 span {
    padding: 5px;
    background-color: #1c3eb0;
    box-shadow: 5px 5px rgba(0,0,0,0.3);
}

.featured button {
    background-color: #1c3eb0;
    padding: 10px;
    box-shadow: 5px 5px rgba(0,0,0,0.3);
    position: absolute;
    border: none;
    bottom: 10px;
    right: 5px;
    color: white;
}

.event {
    position: relative;
    background-color: #1c3eb0;
    text-align: center;
    font-size: 80%;
}

.event h1 {
    color: yellow;
    margin-top: 50px;
}

.event h2 {
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

.event p a {
    font-family: 'Nunito', sans-serif;
}

.event a {
    color: yellow;
    font-size: 18px;
}

.event p {
    color: white;
    font-size: 18px;
}

.weather {
    position: relative;
    background-color: #1c3eb0;
    text-align: center;
    font-size: 80%;
}

.weather h1 {
    color: yellow;
}

.image-weather {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.image-weather img {
    position: relative;
    width: 140px;
    height: 140px;
    padding: 10px;
    margin-left: 10px;
}

.image-weather h1 {
    color: white;
    font-size: 60px;
    position: relative;
    width: 50%;
}

.weather h2 {
    font-size: 24px;
    position: absolute;
    right: 30px;
    bottom: 75px;
}

.information-weather {
    line-height: 8px;
    border-top: 2px solid rgba(255,255,255,0.3);
}

.weather p {
    font-size: 20px;
    padding: 0;
    color: white;
}

.join_here {
    position: relative;
    background-color: #1c3eb0;
    text-align: center;
    font-size: 80%;
    padding-top: 40px;
}

.join_here button {
    padding: 10px;
    width: 200px;
    background-color: white;
}

.join_here a {
    color: #1c3eb0;
    font-family: 'Nunito', sans-serif;
}

.join_here p {
    font-size: 18px;
    color: white;
}

.news-update {
    position: relative;
    background-color: #1c3eb0;
    text-align: center;
    font-size: 80%;
}

.news-update h1 {
    color: yellow;
}

.news-update p {
    color: white;
    font-size: 18px;
}

.right-column {
    background-color: #1c3eb0;
    border: 1px solid rgba(0,0,0,0.3);
    height: 99%;
}

.spotlight1, .spotlight2, .spotlight3{
    background-color: rgba(0,0,0,0.3);
    border: 2px solid rgba(0,0,0,0.3);
    text-align: center;
    font-size: 80%;
}

.right-column h1 {
    color: yellow;
}

.right-column h2 {
    color: white;
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(255,255,255,0.3);
    font-size: 20px;
}

.right-column p {
    color: white;
    font-family: 'Nunito', sans-serif;
    padding-bottom: 10px;
}

.contact_spot1 {
    line-height: 10px;
    width: 100%;
}

.right-column img {
    width: 30%;
}

.discover-main, .first-image, .second-image, .third-image, .fourth-image, .fifth-image {
    display: grid;
    padding: 10px;
}

.discover-main img {
    object-fit:cover;
}

#visits {
    color: yellow;
    font-size: 15px;
}

label {
    display: block;
    margin-bottom: 10px;
}
input, select, textarea {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
textarea {
    height: 100px;
}
input[type=submit] {
    padding: 10px;
    background-color: #1c3eb0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.join-main {
    font-family: 'Nunito', sans-serif;
    width: 90%;
    margin: 0 auto;
}

.form-box {
    display: flex;
    flex-direction: column;
}

form {
    width: 100%;
    position: relative;
}

.join-main h1 {
    color: black;
    text-align: center;
}

main {
    padding: 10px;
}

.thankyou-main {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 100px;
    margin-top: 100px;
}

.thankyou {
    color: black;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

form label {
    display: none;
}

.join-main h1 {
    margin-bottom: 50px;
}

textarea {
    resize: vertical;
    width: 100%;
    height: 150px;
}

input[required] {
    border-color: red;
    border-radius: 5px; /* Example value, adjust as needed */
  }
  
  input[required]:valid {
    border-color: green; /* Change border color to green when input is valid */
  }
  
  input[required]::before {
    content: "*";
    color: red;
    margin-right: 5px;
  }

  .directory-main h1 {
    color: black;
    text-align: center;
}

.directory-main {
    font-family: 'Nunito', sans-serif;
    width: 90%;
    margin: 0 auto;
}

.businesses {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 10px;
    padding-bottom: 10px;

  }

section {
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
}

.businesses img {
    width: 100%;
    object-fit: cover;
    object-position: 0px 10%;
}


.businesses h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

section a {
    color: #163391;
    margin-top: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.businesses h1, .businesses h2, .businesses h3 {
    color: black;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.directory-main button {
    font-family: 'Nunito', sans-serif;
    color: white;
    background-color: #1c3eb0;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
}

.directory-main button:hover {
    background-color: #163391;
}
  
.list {
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(0, 0, 0, 0.3);
  }
  
  .list section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0.25rem;
    border: none;
  }
  
  .list section > * {
    margin: 0 1rem;
    flex-basis: 30%;
  }
  
  .list section > :last-child {
    flex-basis: 30%;
  }

  
  .list section img {
    display: none;
    width: 1px;
  }
  
  .list section:nth-child(even) {
    background-color: #1c3fb056;
  }
  
  .list h1,
  .list h2,
  .list h3,
  .list a {
    font-size: 14px;
  }
  
  .list h2 {
    text-align: left;
  }
  
  .list h3 {
    text-align: left;
  }
  
  .list h3:empty {
    display: none;
  }

  .list h3 {
    text-align: center;
  }

  .button-directory {
    text-align: center;
    padding-bottom: 20px;
  }

  .section-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.list h3.full-address {
    display: none;
  }

  .button-directory button {
    display: block;
    width: 100%;
    margin: 0;
    border: thin solid rgba(255, 255, 255, 0.3);
  }

  /* This is a single-line comment */