.page-wrap {
    max-width: 500px;
    margin: auto;
    background: white;
    margin-top: 30px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);;
  }

h1, li, p {
  font-family: 'Roboto', sans-serif;
}

.header-part, .footer-wrap {
    padding: 10px;
    padding: 20px 30px 20px;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: 500px auto;
    background-position: center;
    border: thin solid rgba(0, 0, 0, 0.3);
  }

.header-part {
    display: flex;
    flex-direction: row;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
  }

.header-part div {
  width: 50%;
}

  .profile-image {
    width: 70%;
  }

  .image-placeholder {
    width: 100%;
  }

  .image-placeholder img {
    width: 80%;
    height: auto;
    object-fit: cover;
    object-position: 0px 10%;
    border: thin solid rgba(0, 0, 0, 0.3);
  }

  .full-name h1 {
    font-size: 5vw;
    color: black;
    text-align: center;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
  }


  .content h1 {
    font-size: 25px;
    text-align: center;
  }

  .lessons {
    max-width: 80%;
    border-bottom: 1px solid black;
    padding-top: 10px;
    border-top: 1px solid black;
    padding-bottom:10px ;
    margin-bottom: 1px;
    margin: 0 auto;
  }

  .lessons li {
    padding: 5px;
  }

  .content p {
    font-size: 12px;
    text-align: center;
    font-style: italic;
    padding-bottom: 20px;
  }

  .footer-wrap {
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 10px;
    font-family: "Lucida Console", "Courier New", monospace;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.8);
  }

  .updated {
    font-size: 14px;
    color: #212121;
  }

  .lessons li:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
}

ul.lessons li {
  display: block;
  width: 95%;
  padding: 10px 10px;
}

ul.lessons {
  padding: 0;
}